@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");
#container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#e4e0ba, #d9bffc);
  overflow: hidden;
  cursor: url("../img/cursor.png"), auto;
}

#about-text {
  width: 40vw;
  height: 30vh;
  position: absolute;
  opacity: 0.8;
  background-color: pink;
  z-index: 200;
  top: 35vh;
  left: 30vw;
  visibility: hidden;
}

#about-text .about-body {
  padding: 10px;
  font-size: 16px;
  font-family: "Source Code Pro", serif;
}

#cyo-container {
  width: 80vw;
  height: 70vh;
  position: absolute;
  opacity: 0.8;
  background-color: plum;
  z-index: 200;
  top: 15vh;
  left: 10vw;
  visibility: hidden;
}

#cyo-container p {
  padding: 10px;
  font-size: 16px;
  font-family: "Source Code Pro", serif;
}

h1 {
  position: absolute;
  font-size: 36px;
  font-family: "Source Code Pro", serif;
  text-transform: uppercase;
  font-weight: 600;
  top: 3%;
  left: 3%;
  width: 100%;
  text-align: left;
  z-index: 100;
  display: block;
}

#about {
  position: absolute;
  font-size: 14px;
  font-family: "Source Code Pro", serif;
  text-transform: uppercase;
  bottom: 3%;
  right: 3%;
  width: 100%;
  text-align: right;
  z-index: 100;
  display: block;
}

#back {
  position: absolute;
  font-size: 14px;
  font-family: "Source Code Pro", serif;
  text-transform: uppercase;
  top: 3%;
  right: 3%;
  width: 100%;
  text-align: right;
  z-index: 100;
  display: block;
}

#create a {
  position: absolute;
  font-size: 14px;
  font-family: "Source Code Pro", serif;
  text-transform: uppercase;
  text-decoration: none;
  bottom: 6%;
  right: 3%;
  width: 100%;
  text-align: right;
  z-index: 100;
  display: block;
}

.form {
  visibility: hidden;
  width: 80vw;
  height: 80vh;
  position: absolute;
  top: 10vh;
  left: 10vw;
  z-index: 200;
  padding: 10px 20px;
  background: #f4f7f8;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
  font-family: "Source Code Pro", serif;
}

.form fieldset {
  border: none;
}

.form legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.form label {
  display: block;
  margin-bottom: 8px;
}

.form input[type=text],
.form input[type=date],
.form input[type=datetime],
.form input[type=email],
.form input[type=number],
.form input[type=search],
.form input[type=time],
.form input[type=url],
.form textarea,
.form select {
  font-family: "Source Code Pro", serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

.form input[type=text]:focus,
.form input[type=date]:focus,
.form input[type=datetime]:focus,
.form input[type=email]:focus,
.form input[type=number]:focus,
.form input[type=search]:focus,
.form input[type=time]:focus,
.form input[type=url]:focus,
.form textarea:focus,
.form select:focus {
  background: #d2d9dd;
}

.form select {
  -webkit-appearance: menulist-button;
  height: 35px;
}

.form .number {
  background: #1abc9c;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 15px 15px 15px 0px;
}

.form input[type=submit],
.form input[type=button] {
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #FFF;
  margin: 0 auto;
  background: #1abc9c;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #16a085;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}

.form input[type=submit]:hover,
.form input[type=button]:hover {
  background: #109177;
}

/*# sourceMappingURL=style.css.map */
