@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");
#container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#e4e0ba, #d9bffc);
  cursor: url(../img/cursor.png), help;
}

h1 {
  position: absolute;
  font-size: 60px;
  font-family: "Source Code Pro", serif;
  top: 85%;
  left: 3%;
  width: 100%;
  text-align: left;
  z-index: 100;
  display: block;
}

#about {
  position: absolute;
  font-size: 20px;
  font-family: "Source Code Pro", serif;
  bottom: 5%;
  right: 3%;
  width: 100%;
  text-align: right;
  z-index: 100;
  display: block;
}

#create {
  position: absolute;
  font-size: 20px;
  font-family: "Source Code Pro", serif;
  top: 3%;
  right: 3%;
  width: 100%;
  text-align: right;
  z-index: 100;
  display: block;
}
